body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 15px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
}

.grid-proyectos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background: #eee;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.galeria article {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria img {
    width: 100%;
    border-radius: 10px;
}

.btn {
    display: inline-block;
    margin: 20px;
    padding: 10px;
    background: #333;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

@media (max-width: 768px) {
    .grid-proyectos {
        grid-template-columns: 1fr;
    }
}
